.about-me>.profile-pic img {
  border-radius: 50%;
  width: 300px;
  height: 100%;
  /* border: 2px solid blue; */
}

.about-me {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;  
  padding-top: 100px;
  grid-gap: 1em;
  
}

.about-me>.profile-pic {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50px
}

.about-me> .info > h1 {
  display: grid;
  grid-template-rows: 10px 90px;
  position: relative;
  left: 30px;
}

.about-me > .info > .introduction{
  font-size: 65px;
}

.about-me > .info {
  padding-left: 0px;
} 

.about-me> .info > h1 >#changeDescription {
  position: relative;
  bottom: 60px;
}